{{ block title }}
    Instructions
{{ endblock }}

{{ block content }}
<b>Information Display</b>
<ul>
    <li> Before each performance round, you {{ if player.treatment_group == "FC"}} must decide if you want to {{ endif }} {{ if player.treatment_group == "PC" }} will {{ endif }} be shown a private display of information about your relative performance on the task among other participants.
    {{ if player.treatment_group == "FC"}} <li>It is important to note that you will be making this decision before the round begins, and the decision cannot subsequently be changed. If you decide to be shown information about your relative performance, you will be truthfully told either you placed in the <b> top 20%, top 50%, or bottom 50% </b> of participants in your group after the round is over based on the number of keyboard presses each participant completed in that round. If you decide not to be shown information about your relative performance, after the round is over you will wait for the next round to begin. <li>You will be told the number of keyboard pairs you completed in that round regardless of your decision.</li>
</li>{{ endif }}
    {{ if player.treatment_group == "PC"}} <li>After the round is over, you will be truthfully told either you placed in the top 20%, top 50% (but not the top 20%), or bottom 50%, of participants based on the number of keyboard presses each participant completed in that round.</li>{{ endif }}
    <li>It is important to note that this information about your relative performance will not affect your earnings. Your payment is only dependent on the number of keyboard pairs you completed in the round chosen for payment, not how well you do relative to others.</li>
    <li>This information is privately shown to you. No other participant receives information about your relative performance. Every participant is only receiving information about their own relative performance.</li>
    <li>As an example, suppose there are four participants in a group: Participants A, B, C, and D. {{ if player.treatment_group == "FC" }} Before the first performance round begins, all four choose to receive information about their relative performance in that round. {{ endif }} In the first performance round, Participant A completes 9 key pairs, Participant B completes 7 key pairs, Participant C completes 6 key pairs, and Participant D completes 5 key pairs. Participant A will be informed that they placed in the top 20% of participants in their group, Participant B will be informed that they placed in the top 50% of participants in their group, and Participants C and D will both be informed that they placed in the bottom 50% of participants in their group.</li>
    <li>If you have any questions, please let the experimenter know now.</li>
</ul>

{{ endblock }}
