{{ block title }}
    Additional Instructions
{{ endblock }}

{{ block content }}
<ul>
    <li>Before each performance round, you {{ if player.treatment_group == "FC"}} must decide if you want to {{ endif }} {{ if player.treatment_group == "PC" }} will {{ endif }} be shown information about your relative performance ranking among participants. All participants perform the same keyboard pressing task as you.</li>
    <li><b>It is important to note that your relative performance ranking will not affect your earnings. Your earnings are calculated solely based on the total number of sequential keyboard presses you complete before time is up.</b></li>


</ul>

    {{ next_button }}

{{ endblock }}
